:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(212, 45%, 89%);

  --clr-neutral: hsl(220, 15%, 55%);

  --clr-drake: hsl(218, 44%, 22%);
  --ff-all: "Outfit", sans-serif;
  --fz-main: 15px;
  --fw-primary: 400;
  --fw-secondary: 700;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-all);
}

body {
  font-size: var(--fz-main);
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 250px;
  background-color: var(--clr-primary);
  padding: 1rem 1rem 2rem;
  border-radius: 20px;
  text-align: center;
}

.qr-code {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.qr-code img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.content {
  font-size: var(--fz-main);
}

.content h1 {
  font-weight: var(--fw-secondary);
  color: var(--clr-drake);
  padding: 1rem 0;
}

.content p {
  font-weight: var(--fw-primary);
  color: var(--clr-neutral);
}
